input{
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  border-color: rgb(200, 200, 200);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.firstname{
  width: 120px;
}

.secondname{
  width: 120px;
}

.email{
  display: block;
  width: 265px;
}

.signup-button{
  color: white;
  background-color: rgb(47, 127, 231);
  border: none;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 120px;
  padding-right: 120px;
  font-weight: bold;
  cursor: pointer;
}