p{
  font-family: arial;
  margin-top: 0;
  margin-bottom: 0;
}

.cat-image{
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
  border-radius: 35px;
  vertical-align: center;
}

.profile-image{
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.content{
  display:inline-block;
  margin-top: 10px;
  width: 240px;
}

.name{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.sort{
  font-size: 20px;
  color: rgb(120, 120, 120);
  margin-bottom: 5px;
}

.status{
  font-size: 18px;
  color: rgb(120, 120, 120);
  margin-bottom: 5px;
}

.follow-button{
  margin-right: 15px;
  margin-top: 30px;
  vertical-align: top;
  border: none;
  color: white;
  font-size: 20px;
  background-color: rgb(32, 154, 225);
  border-radius: 5px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

  
